[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[scripts]
test = "pytest --cov=app test/"

[dev-packages]

[packages]
chalice = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
