[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[scripts]
test = "pytest --cov=. test/"
start = "chalice local"

[dev-packages]
moto = "*"

[packages]
chalice = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
boto3 = "*"

[requires]
python_version = "3.7"
